*Rproj
*.DS_Store
.Rproj.user

lexibank-analysed/
*.sqlite
clts/
johanssonsoundsymbolic/
models/
02_analysis/models_small/
glottolog/
old/data_derived/repl2024*
02_analysis/data_derived/fit*
data.csv
*.sqlite3
/venv
